In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# Read data
file_path = "../data/melbourne/vista/raw/H_VISTA12_16_SA1_V1.csv"
hholds = pd.read_csv(file_path, low_memory=False)
hholds.shape

(18152, 53)

In [ ]:
hholds.columns

Index(['HHID', 'SAMPLEREGION', 'WEEK', 'HHSIZE', 'VISITORS', 'DWELLTYPE',
       'OWNDWELL', 'YEARSLIVED', 'MONTHSLIVED', 'ADULTBIKES', 'KIDSBIKES',
       'TOTALBIKES', 'PHONE', 'CARS', 'FOURWDS', 'UTES', 'VANS', 'TRUCKS',
       'MBIKES', 'OTHERVEHS', 'TOTALVEHS', 'TRAVDATE', 'TRAVMONTH', 'TRAVYEAR',
       'TRAVDOW', 'HOMEPC', 'HOMETAZ', 'HOMESLA', 'HOMELGA', 'YOUNGEST',
       'AVEAGE', 'OLDEST', 'HHINC', 'HomeSA1', 'HomeSA2', 'HomeSA3', 'HomeSA4',
       'HomeRegion_ASGS', 'HomeSubRegion_ASGS', 'HomeRegion_ASGC',
       'CW_ADHHWGT_SA3', 'CW_WDHHWGT_SA3', 'CW_WEHHWGT_SA3', 'CW_ADHHWGT_LGA',
       'CW_WDHHWGT_LGA', 'CW_WEHHWGT_LGA', 'ReportingPeriod', 'RP_ADHHWGT_SA3',
       'RP_WDHHWGT_SA3', 'RP_WEHHWGT_SA3', 'RP_ADHHWGT_LGA', 'RP_WDHHWGT_LGA',
       'RP_WEHHWGT_LGA'],
      dtype='object')

In [ ]:
#Check NAN values
hholds.isna().sum()

HHID                  0
SAMPLEREGION          0
WEEK                  0
HHSIZE                0
VISITORS              0
DWELLTYPE             0
OWNDWELL              0
YEARSLIVED            0
MONTHSLIVED           0
ADULTBIKES            0
KIDSBIKES             0
TOTALBIKES            0
PHONE                 0
CARS                  0
FOURWDS               0
UTES                  0
VANS                  0
TRUCKS                0
MBIKES                0
OTHERVEHS             0
TOTALVEHS             0
TRAVDATE              0
TRAVMONTH             0
TRAVYEAR              0
TRAVDOW               0
HOMEPC                0
HOMETAZ               0
HOMESLA               0
HOMELGA               0
YOUNGEST              0
AVEAGE                0
OLDEST                0
HHINC                 0
HomeSA1               0
HomeSA2               0
HomeSA3               0
HomeSA4               0
HomeRegion_ASGS       0
HomeSubRegion_ASGS    0
HomeRegion_ASGC       0
CW_ADHHWGT_SA3        0
CW_WDHHWGT_SA3        0
CW_WEHHWGT_SA3        0
CW_ADHHWGT_LGA        0
CW_WDHHWGT_LGA        0
CW_WEHHWGT_LGA        0
ReportingPeriod       0
RP_ADHHWGT_SA3        0
RP_WDHHWGT_SA3        0
RP_WEHHWGT_SA3        0
RP_ADHHWGT_LGA        0
RP_WDHHWGT_LGA        0
RP_WEHHWGT_LGA        0
dtype: int64

### Process Households

In [ ]:
# Remove NAN values
hholds = hholds.dropna()
hholds.shape

(18152, 53)

In [ ]:
hholds.head(10)

,HHID,SAMPLEREGION,WEEK,HHSIZE,VISITORS,DWELLTYPE,OWNDWELL,YEARSLIVED,MONTHSLIVED,ADULTBIKES,...,CW_ADHHWGT_LGA,CW_WDHHWGT_LGA,CW_WEHHWGT_LGA,ReportingPeriod,RP_ADHHWGT_SA3,RP_WDHHWGT_SA3,RP_WEHHWGT_SA3,RP_ADHHWGT_LGA,RP_WDHHWGT_LGA,RP_WEHHWGT_LGA
0,Y12H0000101,North East Melbourne,0,4,0,Separate House,Fully Owned,7.0,9,0,...,89.51,127.04,,2012-14,161.52,246.31,,156.70,224.20,
1,Y12H0000102,North East Melbourne,0,4,0,Separate House,Being Purchased,9.0,4,0,...,89.49,126.96,,2012-14,162.05,245.70,,158.00,225.80,
2,Y12H0000103,North East Melbourne,0,4,0,Separate House,Being Purchased,8.0,5,0,...,89.62,127.15,,2012-14,158.73,242.35,,155.48,222.20,
3,Y12H0000104,North East Melbourne,0,3,0,Separate House,Fully Owned,3.0,0,2,...,90.39,128.30,,2012-14,162.45,246.95,,158.88,227.37,
4,Y12H0000107,North East Melbourne,0,3,0,Separate House,Being Purchased,8.0,2,2,...,106.31,,360.31,2012-14,196.58,,215.84,192.66,,641.65
5,Y12H0000111,North East Melbourne,0,4,0,Separate House,Being Purchased,8.0,4,2,...,90.39,128.30,,2012-14,162.45,246.95,,158.88,227.37,
6,Y12H0000114,North East Melbourne,0,4,0,Separate House,Being Purchased,9.0,9,2,...,106.31,,360.31,2012-14,196.58,,217.68,192.66,,641.65
7,Y12H0000116,North East Melbourne,0,3,0,Separate House,Being Purchased,1.0,6,0,...,89.49,126.96,,2012-14,162.05,247.80,,158.00,225.80,
8,Y12H0000117,North East Melbourne,0,2,0,Separate House,Being Purchased,8.0,8,0,...,89.62,127.15,,2012-14,158.73,244.42,,155.48,222.20,
9,Y12H0000121,North East Melbourne,0,2,0,Separate House,Being Purchased,6.0,5,2,...,106.31,,360.31,2012-14,196.58,,217.68,192.66,,641.65

In [ ]:
hholds.describe()

,WEEK,HHSIZE,VISITORS,YEARSLIVED,MONTHSLIVED,ADULTBIKES,KIDSBIKES,TOTALBIKES,CARS,FOURWDS,...,TOTALVEHS,TRAVYEAR,HOMEPC,HOMETAZ,YOUNGEST,AVEAGE,OLDEST,HomeSA1,CW_ADHHWGT_SA3,RP_ADHHWGT_SA3
count,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,...,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,18152.000000,1.815200e+04,18152.000000,18152.000000
mean,105.046827,2.565117,0.253967,12.609011,4.370372,0.935269,0.414885,1.350154,1.299691,0.281401,...,1.728184,2014.076906,3232.852358,1102.227743,36.422047,45.098502,54.310930,2.096415e+10,101.761843,199.148430
std,59.731792,1.314201,0.816178,13.091335,2.856348,1.262455,0.905559,1.709792,0.890998,0.524146,...,0.984617,1.213541,269.524174,639.422206,29.286567,25.052998,25.084707,3.078479e+08,37.941686,75.418136
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,2012.000000,3002.000000,24.000000,0.000000,2.000000,1.000000,2.030110e+10,42.230000,62.700000
25%,54.000000,2.000000,0.000000,3.000000,2.000000,0.000000,0.000000,0.000000,1.000000,0.000000,...,1.000000,2013.000000,3074.000000,593.000000,14.000000,28.000000,41.000000,2.070312e+10,78.510000,152.660000
50%,105.000000,2.000000,0.000000,8.000000,4.000000,0.000000,0.000000,1.000000,1.000000,0.000000,...,2.000000,2014.000000,3146.000000,1069.000000,32.000000,41.000000,54.000000,2.100312e+10,93.400000,183.810000
75%,157.000000,4.000000,0.000000,19.000000,6.000000,2.000000,0.000000,2.000000,2.000000,0.000000,...,2.000000,2015.000000,3204.000000,1543.000000,60.000000,62.000000,66.000000,2.120513e+10,115.467500,228.090000
max,208.000000,9.000000,12.000000,88.000000,13.000000,15.000000,11.000000,15.000000,8.000000,5.000000,...,9.000000,2016.000000,3981.000000,2890.000000,1927.000000,1928.000000,1929.000000,2.140214e+10,548.820000,1164.350000

In [ ]:
hholds.HOMEPC = hholds.HOMEPC.astype('object')

In [ ]:
hholds.select_dtypes(include='object').describe()

,HHID,SAMPLEREGION,DWELLTYPE,OWNDWELL,PHONE,TRAVDATE,TRAVMONTH,TRAVDOW,HOMEPC,HOMESLA,...,CW_WEHHWGT_SA3,CW_ADHHWGT_LGA,CW_WDHHWGT_LGA,CW_WEHHWGT_LGA,ReportingPeriod,RP_WDHHWGT_SA3,RP_WEHHWGT_SA3,RP_ADHHWGT_LGA,RP_WDHHWGT_LGA,RP_WEHHWGT_LGA
count,18152,18152,18152,18152,18152,18152,18152,18152,18152,18152,...,18152,18152,18152,18152,18152,18152,18152,18152,18152,18152
unique,18152,6,4,5,2,1449,12,7,251,93,...,1997,5140,4191,1867,2,4521,2917,5664,4386,1806
top,Y12H0000101,North East Melbourne,Separate House,Fully Owned,Yes,10/12/2012,May,Wednesday,3199,Manningham (C) - West,...,,,,,2014-16,,,,,
freq,1,4015,13428,7745,9180,24,1835,2712,321,460,...,13447,410,5005,13557,9158,4705,13447,410,5005,13557

In [ ]:
# Rename
map_cols = {'HHID':'HHID','TRAVDOW':'TravelDay','TRAVMONTH':'TravelMonth','TRAVYEAR':'TravelYear','OWNDWELL':'OwnDwell',
            'DayType':'DayType','HHINC':'HhIncome','HHSIZE':'HhSize','MONTHSLIVED':'MonthsLived','YEARSLIVED':'YearsLived',
            'VISITORS':'Visitors','KIDSBIKES':'KidBikes','ADULTBIKES':'AdultBikes','TOTALBIKES':'TotalBikes',
            'MBIKES':'TotalMotoBikes','CARS':'TotalCars','TOTALVEHS':'TotalVehicles','FOURWDS':'Num4WDs','TRUCKS':'Trucks',
            'UTES':'Utes','VANS':'Vans','OTHERVEHS':'OtherVehs','HOMELGA':'HomeLGA','HOMEPC':'HomePostcode'}
hholds = hholds.rename(columns=map_cols)

In [ ]:
hholds.dtypes

HHID                   object
SAMPLEREGION           object
WEEK                    int64
HhSize                  int64
Visitors                int64
DWELLTYPE              object
OwnDwell               object
YearsLived            float64
MonthsLived             int64
AdultBikes              int64
KidBikes                int64
TotalBikes              int64
PHONE                  object
TotalCars               int64
Num4WDs                 int64
Utes                    int64
Vans                    int64
Trucks                  int64
TotalMotoBikes          int64
OtherVehs               int64
TotalVehicles           int64
TRAVDATE               object
TravelMonth            object
TravelYear              int64
TravelDay              object
HomePostcode           object
HOMETAZ                 int64
HOMESLA                object
HomeLGA                object
YOUNGEST                int64
AVEAGE                  int64
OLDEST                  int64
HhIncome               object
HomeSA1                 int64
HomeSA2                object
HomeSA3                object
HomeSA4                object
HomeRegion_ASGS        object
HomeSubRegion_ASGS     object
HomeRegion_ASGC        object
CW_ADHHWGT_SA3        float64
CW_WDHHWGT_SA3         object
CW_WEHHWGT_SA3         object
CW_ADHHWGT_LGA         object
CW_WDHHWGT_LGA         object
CW_WEHHWGT_LGA         object
ReportingPeriod        object
RP_ADHHWGT_SA3        float64
RP_WDHHWGT_SA3         object
RP_WEHHWGT_SA3         object
RP_ADHHWGT_LGA         object
RP_WDHHWGT_LGA         object
RP_WEHHWGT_LGA         object
dtype: object

In [ ]:
# Processing Household Weight
# hholds['HhWeight'] = hholds.WDHHWGT + hholds.WEHHWGT

In [ ]:
# hholds['HhWeight'] = hholds['HhWeight'].astype(np.float)

In [ ]:
# hholds['HhWeight'].describe()

In [ ]:
# Processing Household Income
hholds.HhIncome = hholds.HhIncome.str.replace("$","").str.replace(",","").str.replace(' ','')

/home/danph/Repos/win_ssd/tutorials/urban_ds/synthpop/venv/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

In [ ]:
hholds.HhIncome = pd.to_numeric(hholds.HhIncome,errors='raise')

In [ ]:
hholds.HhIncome.fillna(0,inplace=True)

In [ ]:
hholds.HhIncome.isna().sum()

0

In [ ]:
hholds.HhIncome.describe()

count    18152.000000
mean      1646.449427
std       1333.887975
min          0.000000
25%        700.000000
50%       1375.000000
75%       2500.000000
max      12500.000000
Name: HhIncome, dtype: float64

In [ ]:
hholds.HhIncome.value_counts(bins=10,normalize=True)*100

(-12.501, 1250.0]     47.102248
(1250.0, 2500.0]      32.090128
(2500.0, 3750.0]      13.816659
(3750.0, 5000.0]       5.867122
(5000.0, 6250.0]       0.666593
(6250.0, 7500.0]       0.264434
(8750.0, 10000.0]      0.137726
(7500.0, 8750.0]       0.038563
(11250.0, 12500.0]     0.016527
(10000.0, 11250.0]     0.000000
Name: HhIncome, dtype: float64

In [ ]:
hholds.ReportingPeriod.value_counts()

2014-16    9158
2012-14    8994
Name: ReportingPeriod, dtype: int64

In [ ]:
# Processing travel day and month
hholds['TravelMonthNum'] = hholds.TravelMonth.map({'January':1,'February':2,'March':'3','April':'4','May':5,'June':6,
                                               'July':7,'August':8,'September':9,'October':10,'November':11,'December':12})
hholds['TravelDayNum'] = hholds.TravelDay.map({'Monday':2,'Tuesday':3,'Wednesday':'4','Thursday':'5',
                                               'Friday':6,'Saturday':7,'Sunday':8})

In [ ]:
hholds.columns

Index(['HHID', 'SAMPLEREGION', 'WEEK', 'HhSize', 'Visitors', 'DWELLTYPE',
       'OwnDwell', 'YearsLived', 'MonthsLived', 'AdultBikes', 'KidBikes',
       'TotalBikes', 'PHONE', 'TotalCars', 'Num4WDs', 'Utes', 'Vans', 'Trucks',
       'TotalMotoBikes', 'OtherVehs', 'TotalVehicles', 'TRAVDATE',
       'TravelMonth', 'TravelYear', 'TravelDay', 'HomePostcode', 'HOMETAZ',
       'HOMESLA', 'HomeLGA', 'YOUNGEST', 'AVEAGE', 'OLDEST', 'HhIncome',
       'HomeSA1', 'HomeSA2', 'HomeSA3', 'HomeSA4', 'HomeRegion_ASGS',
       'HomeSubRegion_ASGS', 'HomeRegion_ASGC', 'CW_ADHHWGT_SA3',
       'CW_WDHHWGT_SA3', 'CW_WEHHWGT_SA3', 'CW_ADHHWGT_LGA', 'CW_WDHHWGT_LGA',
       'CW_WEHHWGT_LGA', 'ReportingPeriod', 'RP_ADHHWGT_SA3', 'RP_WDHHWGT_SA3',
       'RP_WEHHWGT_SA3', 'RP_ADHHWGT_LGA', 'RP_WDHHWGT_LGA', 'RP_WEHHWGT_LGA',
       'TravelMonthNum', 'TravelDayNum'],
      dtype='object')

In [ ]:
hholds.TravelDay.value_counts()

Wednesday    2712
Monday       2696
Thursday     2691
Tuesday      2685
Friday       2663
Saturday     2392
Sunday       2313
Name: TravelDay, dtype: int64

In [ ]:
# Add IsWeekday column
# hholds.DayType.value_counts()
# hholds['IsWeekday'] = hholds.DayType.map({'Weekday':True,'Weekend Day':False})

In [ ]:
hholds.OwnDwell.value_counts()

Fully Owned           7745
Being Purchased       6042
Being Rented          4072
Occupied Rent-Free     227
Something Else          66
Name: OwnDwell, dtype: int64

In [ ]:
hholds.describe(include=np.object)

/home/danph/Repos/win_ssd/tutorials/urban_ds/synthpop/venv/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

,HHID,SAMPLEREGION,DWELLTYPE,OwnDwell,PHONE,TRAVDATE,TravelMonth,TravelDay,HomePostcode,HOMESLA,...,CW_WDHHWGT_LGA,CW_WEHHWGT_LGA,ReportingPeriod,RP_WDHHWGT_SA3,RP_WEHHWGT_SA3,RP_ADHHWGT_LGA,RP_WDHHWGT_LGA,RP_WEHHWGT_LGA,TravelMonthNum,TravelDayNum
count,18152,18152,18152,18152,18152,18152,18152,18152,18152,18152,...,18152,18152,18152,18152,18152,18152,18152,18152,18152,18152
unique,18152,6,4,5,2,1449,12,7,251,93,...,4191,1867,2,4521,2917,5664,4386,1806,12,7
top,Y12H0000101,North East Melbourne,Separate House,Fully Owned,Yes,10/12/2012,May,Wednesday,3199,Manningham (C) - West,...,,,2014-16,,,,,,5,4
freq,1,4015,13428,7745,9180,24,1835,2712,321,460,...,5005,13557,9158,4705,13447,410,5005,13557,1835,2712

In [ ]:
# Save household table
save_path = "../data/melbourne/vista/"
hholds.to_csv(save_path + "households.csv", index=False)

In [ ]:
hholds.columns

Index(['HHID', 'SAMPLEREGION', 'WEEK', 'HhSize', 'Visitors', 'DWELLTYPE',
       'OwnDwell', 'YearsLived', 'MonthsLived', 'AdultBikes', 'KidBikes',
       'TotalBikes', 'PHONE', 'TotalCars', 'Num4WDs', 'Utes', 'Vans', 'Trucks',
       'TotalMotoBikes', 'OtherVehs', 'TotalVehicles', 'TRAVDATE',
       'TravelMonth', 'TravelYear', 'TravelDay', 'HomePostcode', 'HOMETAZ',
       'HOMESLA', 'HomeLGA', 'YOUNGEST', 'AVEAGE', 'OLDEST', 'HhIncome',
       'HomeSA1', 'HomeSA2', 'HomeSA3', 'HomeSA4', 'HomeRegion_ASGS',
       'HomeSubRegion_ASGS', 'HomeRegion_ASGC', 'CW_ADHHWGT_SA3',
       'CW_WDHHWGT_SA3', 'CW_WEHHWGT_SA3', 'CW_ADHHWGT_LGA', 'CW_WDHHWGT_LGA',
       'CW_WEHHWGT_LGA', 'ReportingPeriod', 'RP_ADHHWGT_SA3', 'RP_WDHHWGT_SA3',
       'RP_WEHHWGT_SA3', 'RP_ADHHWGT_LGA', 'RP_WDHHWGT_LGA', 'RP_WEHHWGT_LGA',
       'TravelMonthNum', 'TravelDayNum'],
      dtype='object')

In [ ]:
hholds.shape

(18152, 55)